<?xml version="1.0" encoding="UTF-8" ?>
<!--
/*
 * config.xml
 *
 * Copyright (c) 2024 Payfast (Pty) Ltd
 *
 * @author     App Inlet
 * @version    1.2.3
 * @date       2024/08/21
 *
 * @link       https://payfast.io/integration/plugins/prestashop/
 */
-->
<module>
    <name>payfast</name>
    <displayName><![CDATA[Payfast]]></displayName>
    <version><![CDATA[1.2.3]]></version>
    <description>
        <![CDATA[Accept payments via Payfast.]]></description>
    <author><![CDATA[Payfast]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall><![CDATA[Are you sure you want to delete your details ?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>
